.live-video {
    width: 526.3px;
    height: 298.5px;
    /* border: 1px solid black; */
    position: relative;
}


.live-video-img,
.live-icon,
.play-icon,
.live-video-length {
    position: absolute;
}

.live-video-img {
    width: 526.3px;
    height: 298.5px;
    object-fit: contain;
}

.live-icon {
    top: 10px;
    left: -10px;
}
.play-icon {
    bottom: 124px;
    left: 223px;
}

.play-icon:hover {
    cursor: pointer;
}

.live-video-length {
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.59;
    color: #fff;
    background-color: var(--black);
    opacity: 0.6;
    padding: 7px 11px;
}
