.video-list {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 360px);
    grid-template-rows: repeat(5, 230px);
    column-gap: 15px;
    row-gap: 40px;
    margin-top: 28px;
}